*, *::before, *after {
    box-sizing: border-box;
}

/*Custom porpeties*/

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent:#303030;
    --clr-accent2:#F2EBBF;
    --clr-accent3:#F06060;
    --clr-google:  #FF2D00;
    --clr-amazon: #FF8C00;
    --clr-android: #45BF55;
    --clr-apple: #2b0824;
    --clr-facebook: #04756F;
    --clr-windows: #04BFBF;
    --clr-bitcoin: #EFEA0C;
    --clr-css3-alt: #EF710C;
    --clr-firefox: #0CEF30;
    --clr-internet-explorer: #0C4EEF;
    --fs-h1: 5vw;
    --fs-h2: 2vw;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

}

body{
	background: var(--clr-dark);
}

/* TITLES */

h1{
    font-family: var(--ff-primary);
    font-size: var(--fs-h1);
    color: var(--clr-light);
    margin-top: 4px;
    margin-bottom: 0;
    text-align: center;
}

h2{
    font-family: var(--ff-primary);
    font-size: var(--fs-h2);
    color: var(--clr-light);
    margin-top: .2em;
    margin-bottom: .2em;
    margin-right: 1em;
    margin-left: 1em;
    text-align: center;
    justify-content: center;
}

.info {
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
}

/* DIFFICULTY OPTIONS*/

.options {
    margin-bottom: 2em;
    display: flex;
    justify-content: center;
}

/* TABLE */
table{
    margin-top: 1em;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
	text-align: center;
}

td{
    font-size: 6vw;
    background: var(--clr-accent2);
    border-radius: 10%;
}


@media (max-width: 1300px) {
    h1 {
        font-size: 8vw;
    }
    h2 {
        font-size: 3vw;
    }

    .btn, .btnlvl{
        padding: 0.5vw 1vw; 
        font-size: 10vw;
    }

    td {
        font-size: 14vw;
    }
}

/* ICONS */

.fab , .fas{
    transition: transform 200ms ease-in-out;
    color: var(--clr-accent);
}

.fas:hover{
    opacity: 0.5;
    transform: scale(0.8);
    color: var(--clr-accent3);
}

.fas {
    color: #581821;
}

.fa-amazon {
    color: var(--clr-amazon);
}
.fa-android {
    color: var(--clr-android);
}
.fa-apple {
    color: var(--clr-apple);
}
.fa-google {
    color: var(--clr-google);
}
.fa-microsoft {
    color: var(--clr-windows);
}
.fa-facebook-square {
    color: var(--clr-facebook);
}
.fa-bitcoin{
    color: var(--clr-bitcoin);
} 
.fa-css3-alt{
    color: var(--clr-css3-alt);
}
.fa-firefox{
    color: var(--clr-firefox);
}
.fa-internet-explorer{
    color: var(--clr-internet-explorer);
}


/* BUTTONS */
.btnlvl {
    padding: .5vw 1vw;
    background: var(--clr-light);
    color: var(--clr-dark);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5vw;
    font-family: var(--ff-primary);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;

    margin-top: 0;
    margin-bottom: .2em;
    margin-right: .5em;
    margin-left: .5em;
}

.btn {
    display: flex;
    padding: .5vw 1vw;
    background: var(--clr-accent3);
    color: var(--clr-accent2);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5vw;
    font-family: var(--ff-primary);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn__random {
    text-align: center;
    margin: 0 auto;
}

.btn:active, .btnlvl:active {
    transform: scale(0.9);
    background: var(--clr-google);
}
