*, *::before, *after {
    box-sizing: border-box;
}

/*Custom porpeties*/

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent:#303030;
    --clr-accent2:#F2EBBF;
    --clr-accent3:#F06060;
    

    --fs-h1: 9vw;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

}

body{
	background: var(--clr-dark);

}

table{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

td{
    background: var(--clr-accent2);
    border-radius: 10%;
}

h1{
	font-family: var(--ff-primary);
    font-size: var(--fs-h1);
    color: var(--clr-light);
    margin-top: .2em;
    margin-bottom: .2em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


.fab {
    font-size: 10vw;
    transition: transform 200ms ease-in-out;
    color: var(--clr-accent);
}

.fab:hover{
    opacity: 0.5;
    transform: scale(1.2);
    color: var(--clr-accent3);
}

